* {
  font-family: "Josefin Sans", sans-serif;    
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #f9f9f9;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #211d19;
}

.secondary-color {
  color: #fd7d48;
}

.tertiary-color {
    color: #ffb938;
}

.quaternary-color {
    color: #5b280e;
}

.color-green {
    color: #a3c777;
}

.carousel-inner img {
  height: 600px; /* Defina a altura desejada */
  object-fit: cover; /* Faz a imagem cobrir completamente a área definida */
  width: 100%; /* Garante que a largura da imagem seja 100% do contêiner */
}

li img {
  max-height: 350px;
  max-width: 100%;
}

li {
  list-style: none;
  text-align:justify ;
}